@import "colours";
@import "constants";

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.hover-darken:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*  Forms & Inputs  */
.input-field label {
  left: 0;
}
.dropdown-content {
  z-index: 2;
}

/*  Tabs    */
.tab a {
  color: @woofiBlue !important;
}
.tab a:hover {
  color: @darkBlue !important;
}
.indicator {
  background-color: @woofiBlue !important;
}
