@import "colours";
@import "constants";

.small-nav-menu {
  background-color: @woofiBlue;
  color: #fff;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.container .row {
  margin: 0 auto;
}

.hover-darken:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*  Toast   */
.toast {
  cursor: pointer;
  height: auto;
  line-height: 1.5em;
  padding: 10px;
}

/*  Forms & Inputs  */
form {
  padding: 20px;
}
.input-field label {
  left: 0;
}
.dropdown-content {
  z-index: 2;
}
.woofi-btn {
  background-color: @woofiBlue !important;
}
.woofi-btn:hover {
  background-color: @darkBlue !important;
}
.waves-effect.waves-woofi .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(51, 87, 128, 0.65);
}

/*  Tabs    */
.tabs-header {
  margin-top: 20px;
  margin-bottom: 10px;
}
.tab a {
  color: @woofiBlue !important;
}
.tab a:hover {
  color: @darkBlue !important;
}
.indicator {
  background-color: @woofiBlue !important;
}
