<template name="welcome">
  <div class="parallax-container">
    <div class="parallax"><img src="imgs/dog-eating-bowl.jpg"></div>
  </div>
  <div class="section white z-depth-2">
    <div class="row container">
      <h2 class="header teal-text">Pro-Portion Pet Feeder</h2>
      <p class="grey-text text-darken-3 lighten-3">
        The Pro-Portion Pet Feeder is a WiFi-enabled Pet Feeder that intelligently controls your pet's portions to keep them at a healthy and manageable weight.  It is designed for multi-pet households, and uses wireless RFID technology to prevent guarding behaviours as well as to keep you informed of your pet's feeding behaviours.
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="imgs/cat-vet.jpg"></div>
  </div>
  <div class="section white z-depth-2">
    <div class="row container">
      <h2 class="header teal-text">Vet Innovations, LLC</h2>
      <p class="grey-text text-darken-3 lighten-3">
        We are a Hartford, CT based company specializing in pet care and weight management.
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="imgs/wireless-dog-tracker.jpg"></div>
  </div>
  <div class="section white z-depth-2">
    <div class="row container">
      <h2 class="header teal-text">Get Started</h2>
      <p class="grey-text text-darken-3 lighten-3">
        To begin using the Pro-Portion Feeder app, just sign up using the form below!
      </p>
      {{> atForm state='signUp'}}
    </div>
  </div>
</template>
