.side-nav ul li {
  position: relative;
  z-index: 1;
}
.side-nav ul li:hover {
  z-index: 2;
}
.side-nav a[data-sign-out],
.side-nav a[data-sign-in] {
  border-radius: 0;
}

#turnkey-button {
  padding-right: 20px;
  position: absolute;
  right: 0;
}
