.side-nav ul li {
  transition: box-shadow 0.2s ease-in-out;
}
.side-nav a[data-sign-out],
.side-nav a[data-sign-in] {
  border-radius: 0;
}

#turnkey-button {
  padding-right: 20px;
  position: absolute;
  right: 0;
}
