<template name="deleteFeeder">
  <div class="anti-modal-box">
    <div class="anti-modal-body">
      <div class="anti-modal-title">Delete this Feeder?</div>
      <div class="">Delete {{feeder.name}}, including all stored data?</div>
      <div class="anti-modal-footer">
        <button id="cancel" type="button" class="waves-effect waves-light btn grey">Cancel</button>
        <button id="delete-feeder" type="button" class="waves-effect waves-light btn red">Delete</button>
      </div>
    </div>
  </div>
</template>
