<template name="externalSideNav">
  <div class="navbar-fixed">
    <nav class="teal">
      <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
      <a href="#" class="brand-logo">{{routeContext}}</a>
      <div id="slide-out" class="side-nav flex flex-column flex-between z-depth-2">
        <div>
          <ul>
            <li class="{{#if routeIs 'Home'}}selected{{/if}}">
              <a href="/" class="flex flex-row flex-between flex-middle">
                <div>
                  Home
                </div>
                <i class="material-icons">home</i>
              </a>
            </li>
            {{#each feeders}}
              <li class="{{#if feederIsSelected sn}}selected{{/if}}">
                <a href="/feeder/{{sn}}" class="flex flex-row flex-between flex-middle">
                  <div>{{name}}</div>
                  {{#if online}}
                    <i class="material-icons grey-text text-darken-1" data-tooltip="Feeder is Online" data-tooltip-direction="s">signal_wifi_4_bar</i>
                  {{else}}
                    <i class="material-icons grey-text text-lighten-1" data-tooltip="Feeder is Offline" data-tooltip-direction="s">signal_wifi_off</i>
                  {{/if}}
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
        <div>
          <a data-sign-in class="waves-effect waves-light btn blue white-text">Sign In</a>
        </div>
      </div>
    </nav>
  </div>
</template>
